<div>
    <span>{{ artist + ' - ' + title}}</span>
    <button class="btn btn-default" (click)="toggle()">
        <i *ngIf="!isPlaying()" class="fa fa-play"></i>
        <i *ngIf="isPlaying()" class="fa fa-pause"></i>
        <i *ngIf="isLoading()" class="fa fa-spinner"></i>
    </button>
    <!-- <span>
        {{ getCurrentTime() | date: 'm:ss'}}
    </span>
    <span>
        {{ getDuration() | date: 'm:ss'}}
    </span> -->
</div>