<header class="header">
  <div  class="header-wrap text-center">
    <span class="toggle-btn" (click)="_menu.toggleMenu($event)">
      <i [ngClass]="_menu.state[0].active ? 'fa fa-times' : 'fa fa-bars'" aria-hidden="true">
      </i>
    </span>
    <span class="breadcrumb align-middle">{{ path }}</span>
    <app-msg></app-msg>
  </div>
</header>
