.header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #0d0d0d;
    color: #ededed;
    padding: 10px;
}

.header-wrap {
    position: relative;
    color: #ededed;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 21px;

    .toggle-btn {
        cursor: pointer;
        line-height: 60px;
        width: 60px;
        margin-left: -10px;
    }

    .fa-times {
        animation: spin 0.5s ease-in-out;
    }
    
    .fa-bars {
        animation: fade 0.5 ease-in-out;
    }

    .breadcrumb {
        font-family: "Oxygen";
        line-height: 60px;
        background-color: transparent;
        padding: 0;
        margin: 0;
    }
}

.player {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}