<nav class="menu">
  <div class="level" 
        *ngFor="let level of _menu.state; let i = index;" 
        (click)="_menu.isOverlapped(level.id) && _menu.closeUntil(level.id)"
        [ngClass]="level.active ? 'active' : 'inactive'" 
        [ngStyle]="{
          'width': _menu.levelWidth + 'px', 
          'background-color': 'rgba(' + level.color.r + ',' + level.color.g + ',' +  level.color.b + ', 1)',
          'transform': level.active ? 'translate3d(' + level.offset + 'px, 0px, 0px)' : 'translate3d(-' + _menu.levelWidth + 'px, 0px, 0px)'
        }">
    <div *ngIf="level.name" class="title" [ngClass]="_menu.isOverlapped(level.id) ? 'overlapped' : ''">{{level.name}}</div>
      <div class="menu-items">
        <ul>
            <li *ngFor="let item of level.items; let x = index" class="item"
              (click)="item.toggle ? _menu.openLevel($event, item.toggle) : navigateTo($event, item.route)"
              [ngStyle]="{'opacity': _menu.isOverlapped(level.id) ? '0' : '1',
                          'transform': _menu.isOverlapped(level.id) ? 'translate3d(-' + _menu.offset + 'px, 0px, 0px)' : 'translate3d(0px, 0px, 0px)'}">
              <i *ngIf="item.toggle" class="fa fa-chevron-left" aria-hidden="true"></i>
              <i *ngIf="!item.toggle" class="fa fa-link" aria-hidden="true"></i>
                            {{item.name}} 
            </li>
        </ul>
      </div>
    <span *ngIf="_menu.isOverlapped(level.id)" class="push"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></span>
  </div>
</nav>