.menu {
    .level {
        position: fixed;
        overflow: hidden;
        box-sizing: border-box;
        z-index: 999;
        top: 60px;
        bottom: 0;
        left: 0px;
        transition: all 0.5s ease;
        padding-top: 50px;
        box-shadow: inset -7px 0 50px -7px rgba(0,0,0,0.5);
        
        .push {
            position: absolute;
            right: 0px;
            top: 50%;
            width: 40px;
            height: 40px;
            display: inline-block;
            padding: 3px 4px;
            cursor: pointer;
            text-align: center;
            color: rgba(255,255,255, .5);
        }
        
        .title {
            position: absolute;
            right: 0;
            top: 0;
            display: block;
            height: 50px;
            width: 100%;
            text-align: right;
            color: #efefef;
            line-height: 50px;
            padding-right: 10px;
            font-size: 20px;
            text-shadow: 2px 2px 10px rgba(13,13,13,0.5);
            transition: all 0.3s;
            user-select: none;
 
        }

        .title.overlapped { 
            position: absolute;
            text-align: left;
            line-height: 40px;
            padding-left: 20px;
            width: 240px;
            height: 40px;
            font-size: 20px;
            cursor: pointer;
            transform: rotate(90deg) translate3d(100px, -100px, 40px)
        }

        .menu-items {
            overflow-y: auto;
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            bottom: 0;

            ul {
                padding: 0;
                margin: 0;
                list-style: none;
        
                li {
                    box-sizing: border-box;
                    height: 50px;
                    line-height: 50px;
                    padding-left: 10px;
                    width: 100%;
                    color: #efefef;
                    background-color: none;
                    transition: all 0.5s ease;
                    cursor: pointer;
        
                    i {
                        text-align: center;
                        margin: 0px 10px;
                    }
        
                    a {
                        display: block;
                        text-decoration: none;
                        color: #fff;
                        height: 100%;
                        width: 100%;
                    }
                }
        
                li.item:hover {
                    background-color: rgba(0,0,0,0.2);
                }
            }
        
            ul.active {
                transform: translate3d(0px,0px,0px);
            }
        }
    }   
}

