<form (ngSubmit)="onSubmit()" class="msg-form form-inline">
  <div class="form-group">
    <input type="text" class="form-control" id="msg"
            required name="msg" [(ngModel)]="model.message"/>
  </div>
  <button class="btn btn-default submit" (click)="onSubmit()">Submit</button>
</form>