<app-header></app-header>

<div class="wrapper">
  <div class="overlay" 
    *ngIf="_menu.state[0].active"
    (click)="_menu.toggleMenu($event)">
  </div>
  <app-multi-level-menu></app-multi-level-menu>
  <div class="content container-fluid" [ngStyle]="{'transform': _menu.state[0].active ? 'translate3d(' + _menu.contentLeft + 'px, 0px, 0px)' : 'translate3d(0px, 0px, 0px)'}">
    <router-outlet></router-outlet>
  </div>
</div>
