.wrapper {
    overflow: hidden;
    margin-top: 60px;
    min-height: 500px;
}

.content {
    position: relative;
    transition: all 0.5s;
    padding: 10px;
}

.overlay {
    position: fixed;
    top: 50px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 999;
    transition: all 0.5s;
    text-align: center;
    
    .wrap {
        position: absolute;
        left: 240px;
        top: 0;
        right: 0;
        bottom: 0;
        
        i {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: 30%; height: auto;
            font-size: 150px;
            color: rgba(0,0,0,0.2);
        }
    }
}