<div class="form-group">
    <label for="artist">Artist</label>
    <input type="text" class="form-control" id="artist"
            required
            [(ngModel)]="model.artist" name="artist">
</div>
    
<div class="form-group">
    <label for="title">Title</label>
    <input type="text"  class="form-control" id="title"
            [(ngModel)]="model.title" name="title">
</div>

<div class="form-group">
        <label for="genre">Genre</label>
        <select class="form-control" id="genre"
            [(ngModel)]="model.genre" name="genre">
            <option value="drum-and-bass">Drum and Bass</option>
            <option value="psy-trance">Psy Trance</option>
            <option value="dubstep">Dubstep</option>
            <option value="hardstyle">Hardstyle</option>
            <option value="hardcore">Hardcore</option>
            <option value="tekno">Tekno</option>
        </select>
</div>
<div class="form-group">
        <label for="url">Soundcloud URL</label>
        <input type="text"  class="form-control" id="url"
                [(ngModel)]="model.url" name="url">
</div>
<div class="form-group">
    <button class="form-control" (click)="publish()">Publish</button>
</div>