/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Oxygen);
 
html, body {
    min-height: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    font-family: "Oxygen";
    margin: 20px 0px;
}